@using SuggestionBoard.Data.ViewModel
@model PaggingVM

<div class="row">
    <div class="col">
        <div class="btn-group" role="group">
            <a type="button" aria-disabled="true"
                asp-controller="@Model.ControllerName"
               asp-action="@Model.ActionName"
               asp-route-sortOrder="@(ViewData["CurrentSort"])"
               asp-route-categoryId="@(ViewData["Category"])"
               asp-route-searchString="@ViewData["CurrentFilter"]"
               asp-route-pageNumber="@(ViewData["PageNumber"]!= null && (ViewData["PageNumber"] as int?).Value > 1 ? (ViewData["PageNumber"] as int?).Value - 1 : 1 )"
               class="@(ViewData["PageNumber"]!= null && (ViewData["PageNumber"] as int?).Value > 1 ? "btn btn-light" : "btn btn-light disabled")">
                Previous
            </a>
            <a type="button" aria-disabled="true"
               asp-controller="@Model.ControllerName"
               asp-action="@Model.ActionName"
               asp-route-sortOrder="@(ViewData["CurrentSort"])"
               asp-route-categoryId="@(ViewData["Category"])"
               asp-route-pageNumber="@(Model.IsNextPageExist ? (ViewData["PageNumber"]!= null ? (ViewData["PageNumber"] as int?).Value + 1 : 2) : 1 )"
               class="@(Model.IsNextPageExist? "btn btn-light" : "btn btn-light disabled")">
                Next
            </a>
        </div>
    </div>
</div>